# Виртуальное окружение
.venv/
venv/
env/
.env/

# Файлы базы данных
db.sqlite3
*.sqlite3

# Файлы Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Логи
*.log

# Настройки IDE
.vscode/
.idea/
*.iml

# Системные файлы
.DS_Store
Thumbs.db

# Миграции (опционально, можно не добавлять)
# */migrations/*.py
# !*/migrations/__init__.py